<?xml version="1.0"?>
<!--
/**
 * @author     Jason at TwinCreations <twincreations.co.uk>Jason at TwinCreations <twincreations.co.uk>
 * @copyright  Copyright (c) 2013 TwinCreations <http://twincreations.co.uk/>
 */
-->
<config>
    <modules>
        <Livetameion_Restaurant>
            <version>0.1.0</version>
        </Livetameion_Restaurant>
    </modules>
    <global>
        <models>
            <restaurant>
                <class>Livetameion_Restaurant_Model</class>
                <resourceModel>restaurant_resource</resourceModel>
            </restaurant>
            <restaurant_resource>
                <class>Livetameion_Restaurant_Model_Resource</class>    
                <entities>
                    <item>
                        <table>restaurant_item_entity</table>
                    </item>
                    <item_entity_varchar>
                        <table>restaurant_item_entity_varchar</table>
                    </item_entity_varchar>     
                    <item_entity_text>
                        <table>restaurant_item_entity_text</table>
                    </item_entity_text>                    
                    <item_entity_int>
                        <table>restaurant_item_entity_int</table>
                    </item_entity_int>
					
					<category>
                        <table>restaurant_category_entity</table>
                    </category>
                    <category_entity_varchar>
                        <table>restaurant_category_entity_varchar</table>
                    </category_entity_varchar>     
                    <category_entity_text>
                        <table>restaurant_category_entity_text</table>
                    </category_entity_text>                    
                    <category_entity_int>
                        <table>restaurant_category_entity_int</table>
                    </category_entity_int>
					
					<menu>
                        <table>restaurant_menu_entity</table>
                    </menu>
                    <menu_entity_varchar>
                        <table>restaurant_menu_entity_varchar</table>
                    </menu_entity_varchar>     
                    <menu_entity_text>
                        <table>restaurant_menu_entity_text</table>
                    </menu_entity_text>                    
                    <menu_entity_int>
                        <table>restaurant_menu_entity_int</table>
                    </menu_entity_int>
                </entities>
            </restaurant_resource>
        </models>
        <resources>
            <restaurant_setup>
                <setup>
                    <module>Livetameion_Restaurant</module>
                    <class>Livetameion_Restaurant_Model_Resource_Setup</class>
                </setup>
            </restaurant_setup>
            <restaurant_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </restaurant_write>
            <restaurant_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </restaurant_read>            
        </resources>
		<helpers>
			<!-- The following <restaurant> helper tag is used in Mage::helper('restaurant') -->
            <restaurant>
                <class>Livetameion_Restaurant_Helper</class>
            </restaurant>
        </helpers>
    </global>
	
	<frontend>
        <routers>
            <livetameion_restaurant>
                <use>standard</use>
                <args>
                    <module>Livetameion_Restaurant</module>
                    <frontName>restaurant</frontName>
                </args>
            </livetameion_restaurant>
        </routers>
        <layout>
            <updates>
                <restaurant>
                    <file>livetameion_restaurant.xml</file>
                </restaurant>
            </updates>
        </layout>
    </frontend>
</config>
