<?xml version="1.0"?>
<!--
/**
 * @author     Jason at TwinCreations <twincreations.co.uk>Jason at TwinCreations <twincreations.co.uk>
 * @copyright  Copyright (c) 2013 TwinCreations <http://twincreations.co.uk/>
 */
-->
<config>
    <modules>
        <TC_Skeleton>
            <version>0.1.0</version>
        </TC_Skeleton>
    </modules>
    <global>
        <models>
            <tc_skeleton>
                <class>TC_Skeleton_Model</class>
                <resourceModel>tc_skeleton_resource</resourceModel>
            </tc_skeleton> 
            <tc_skeleton_resource>
                <class>TC_Skeleton_Model_Resource</class>    
                <entities>
                    <skeleton>
                        <table>tc_skeleton_skeleton_entity</table>
                    </skeleton>
                    <skeleton_entity_varchar>
                        <table>tc_skeleton_skeleton_entity_varchar</table>
                    </skeleton_entity_varchar>     
                    <skeleton_entity_text>
                        <table>tc_skeleton_skeleton_entity_text</table>
                    </skeleton_entity_text>                    
                    <skeleton_entity_int>
                        <table>tc_skeleton_skeleton_entity_int</table>
                    </skeleton_entity_int>                     
                </entities>
            </tc_skeleton_resource>
        </models>
        <resources>
            <tc_skeleton_setup>
                <setup>
                    <module>TC_Skeleton</module>
                    <class>TC_Skeleton_Model_Resource_Setup</class>
                </setup>
            </tc_skeleton_setup>
            <tc_skeleton_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </tc_skeleton_write>
            <tc_skeleton_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </tc_skeleton_read>            
        </resources>
    </global>
</config>
